In [2]:
import numpy as np
import matplotlib.pyplot as plt
import joblib
import pandas as pd
plt.style.use("fivethirtyeight")

In [9]:
class Perceptron:
    def __init__(self, eta, epochs, activationFunction):
        self.weights = np.random.randn(3) * 1e-4
        self.eta = eta
        self.epochs = epochs
        self.activationFunction = activationFunction
    

    def fit(self, X,y):
        self.X = X
        self.y = y
        X_with_bias = np.c_[self.X, -np.ones((len(self.X), 1))]

        for epoch in range(self.epochs):
            y_hat = self.activationFunction(X_with_bias, self.weights)
            error = self.y - y_hat
            self.weights = self.weights + self.eta * np.dot(X_with_bias.T, error)

    def predict(self, X):
        X_with_bias = np.c_[X, -np.ones((len(self.X), 1))]
        return self.activationFunction(X_with_bias, self.weights)

In [8]:
activationFunction = lambda inputs, weights: np.where(np.dot(inputs, weights) > 0, 1, 0)

In [10]:
data = {"x1":[0,0,1,1], "x2":[0,1,0,1], "y":[0,0,0,1]}
AND = pd.DataFrame(data)
AND

   x1  x2  y
0   0   0  0
1   0   1  0
2   1   0  0
3   1   1  1

In [11]:
X = AND.drop("y", axis=1)
X

   x1  x2
0   0   0
1   0   1
2   1   0
3   1   1

In [13]:
y = AND["y"]
y.to_frame()

   y
0  0
1  0
2  0
3  1

In [14]:
model = Perceptron(eta= 0.01, epochs= 10, activationFunction= activationFunction)

In [15]:
model.fit(X,y)

In [16]:
model.predict(X)

array([0, 0, 0, 1])